<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our Team Section</title>
	<link rel="stylesheet" href="/static/stylesheets/style.css">
</head>
<body>
    <div class="box-area">
		<header>
			<div class="wrap">
				<nav>
					<a href="/">home</a> <a href="/info">Info</a><a href="/about">about</a>
				</nav>
			</div>
		</header>
<div class="wrapper">
  <h1>Our Team</h1>
  <div class="team">
    <div class="team_member">
      <div class="team_img">
        <img src="/static/VandanaS.jpg" alt="Team_image">
      </div>
      <h3>Vandana Sudhakar Sardar</h3>
      <p class="role">Mentor</p>
      <p>Vandana Sudhakar Sardar is working as an Assistant Professor in Computer Science Department of Ramaiah Institute of Technology. Her areas of interest include information retrieval and machine learning</p>
    </div>
    <div class="team_member">
      <div class="team_img">
        <img src="/static/MuskanGupta.png" alt="Team_image">
      </div>
      <h3>Muskan Gupta</h3>
      <p class="role">Full Stack Developer</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p></div>
    <div class="team_member">
      <div class="team_img">
        <img src="/static/Manvendra.PNG" alt="Team_image">
      </div>
      <h3>Manvendra Bansal</h3>
      <p class="role">Full Stack Developer</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
    </div>
  </div>
</div>	
</div>
</body>
</html>